@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.btn-text{
    color: #3F87F5;
}
.toast-parent{
    position: relative;
}
.toast{
    position: absolute;
    top: 0;
    right: 0;
    border-left: 5px solid #3F87F5;
}
#service{
    height: 900px;
    background-image: url('./img/celebration.jpg');
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}
.colorful{
    color: #FFD909;
}
.btn-bg{
    background-color: #FDF4FA;
}
.hot-item{
    background-color: #3F87F5;
    border-radius: 20px;
    transform: scaleY(1.1);
    box-shadow: 5px 10px 20px #3F87F5;
    margin-top: -50px;
}
footer{
    background-color: #0B0D17;
}

/* media query */
@media (max-width: 992px) {

    .hot-item{
        margin: 10px;
    }
    
}

@media (max-width: 700px) {

    .car-title{
        font-size: 20px;
    }
    .car-details{
        font-size: 8px;
    }
    
    
}

@media (max-width: 556px) {

    .car-title{
        font-size: 10px;
    }
    
}

@media (max-width: 512px) {

    .carousel{
        display: none;
    }
    
}

